* {
  margin: 0;
  padding: 0;
}

/*APP*/
.square {
  height: 40px;
  width: 40px;
  background-color: #245843;
  border: 1px solid #000;
  cursor: pointer;

}

.square.isSelected {
  background-color: #383839;
}

.bm-board.bm-easy-mode {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}


.bm-board.bm-medium-mode {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 1px;
}

.bm-board.bm-hard-mode {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  gap: 1px;
}

/*APP*/
/*-----------------------------------------------*/
/*SQUARE*/

/*SQUARE*/