* {
  margin: 0;
  padding: 0;
}

/*APP*/

.bm-game {
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bm-cells {
  height: 2rem;
  width: 2rem;
  border: 1px solid;
  padding: 1rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.bm-rows {
  display: flex;
}

.bm-buttom-game{
    height: 100%;
    width: 100%;
}

/*APP*/
/*-----------------------------------------------*/
/*SQUARE*/

/*SQUARE*/